[user]
	name = Nick Martinson
	email = nick.martinson@wwt.com
[alias]
	hide = update-index --assume-unchanged
	unhide = update-index --no-assume-unchanged
	hidden = !git ls-files -v | grep \"^[a-z]\"
	ld = log --pretty=dateformat --decorate --date=relative
	lds = log --pretty=dateformat --decorate --date=short
	le = log --oneline --decorate
	lg = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>' --abbrev-commit
	lgh = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>' --abbrev-commit
	lgf = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>' --abbrev-commit
	ll = log --pretty=simpleformat --decorate --numstat
	lnc = log --pretty=format:'%h\\ %s\\ [%cn]'
	ls = log --pretty=simpleformat --decorate
	# Find out who to thank for the magical piece of code
	praise = blame
	remotes = !git for-each-ref --sort=committerdate refs/remotes/ --format='%(color:red)%(objectname:short)%(color:reset)^%(color:yellow)%(refname:short)%(color:reset)^(%(color:green)%(committerdate:relative)%(color:reset))^<%(color:blue)%(authorname)%(color:reset)>' | column -t -s '^'
	sanitize = ls-files -i --exclude-from=.gitignore | xargs git rm --cached
	# Delete local branches that were merged into your current branch
	tidy = !git branch | grep -v -e \\* -e master -e develop | xargs git branch -d
	zip = !git archive --format=zip --output=latest.zip HEAD

	# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	
	# Remove submodule

	rm-sub = "!f() { \
		submodule="$1"; \
		git submodule deinit -f "$submodule"; \
		rm -rf ".git/modules/$submodule"; \
		git rm -f "$submodule"; \
		git config -f ".git/config" --remove-section "submodule.$submodule" 2> /dev/null; \
	}; f"

[clean]
	requireForce = true
[color]
	branch = auto
	diff = auto
	interactive = auto
	pager = true
	status = auto
	ui = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[diff]
	algorithm = default
[grep]
	extendRegexp = true
	lineNumber = true
[init]
	templatedir = ~/.dotfiles/git/templates
[merge]
	conflictstyle = merge
[pretty]
	dateformat = "%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]"
	#                        │    │       │           │           └─ committer name
	#                        │    │       │           └─ subject
	#                        │    │       └─ ref names
	#                        │    └─ author date
	#                        └─ abbreviated commit hash
	simpleformat = "%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]"
	#                          │      │       	  │           │
	#                          │      │       	  │           └─ committer name
	#                          │      │       	  └─ subject
	#                          │      └─ ref names
	#                          └─ abbreviated commit hash
[push]
	default = simple
[rebase]
	autostash = false
