[user]
	name = Alexis Ortega
	email = alexis.oc3@gmail.com
[alias]
	ld = log --pretty=format:'%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]' --decorate --date=relative
	lds = log --pretty=format:'%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]' --decorate --date=short
	le = log --oneline --decorate
	lg = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>' --abbrev-commit
	lgf = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>' --abbrev-commit
	ll = log --pretty=format:'%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]' --decorate --numstat
	lnc = log --pretty=format:'%h\\ %s\\ [%cn]'
	ls = log --pretty=format:'%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]' --decorate
	praise = blame
	remotes = !git for-each-ref --sort=-committerdate refs/remotes/ --format='%(color:red)%(objectname:short)%(color:reset)^%(color:yellow)%(refname:short)%(color:reset)^(%(color:green)%(committerdate:relative)%(color:reset))^<%(color:blue)%(authorname)%(color:reset)>' | column -t -s '^'
	tidy = !git branch | grep -v \\* | xargs git branch -d
	zip = !git archive --format=zip --output=latest.zip HEAD
[clean]
	requireForce = true
[color]
	branch = auto
	diff = auto
	interactive = auto
	pager = true
	status = auto
	ui = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[diff]
	algorithm = default
[grep]
  extendRegexp = true
  lineNumber = true
[merge]
	conflictstyle = merge
[push]
	default = simple
[rebase]
	autostash = false
